[submodule "fundme/lib/forge-std"]
	path = fundme/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fundme/lib/chainlink-brownie-contracts"]
	path = fundme/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "fundme/lib/foundry-devops"]
	path = fundme/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "LOTTERY/lib/forge-std"]
	path = LOTTERY/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "LOTTERY/lib/chainlink-brownie-contracts"]
	path = LOTTERY/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "LOTTERY/lib/solmate"]
	path = LOTTERY/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "LOTTERY/lib/foundry-devops"]
	path = LOTTERY/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "ERC20_project/lib/forge-std"]
	path = ERC20_project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20_project/lib/openzeppelin-contracts"]
	path = ERC20_project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nft/lib/forge-std"]
	path = nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft/lib/openzeppelin-contracts"]
	path = nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nft/lib/foundry-devops"]
	path = nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "stableCoinProject/lib/forge-std"]
	path = stableCoinProject/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stableCoinProject/lib/openzeppelin-contracts"]
	path = stableCoinProject/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "stableCoinProject/lib/foundry-chainlink-toolkit"]
	path = stableCoinProject/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "merkle/lib/forge-std"]
	path = merkle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "merkle/lib/openzeppelin-contracts"]
	path = merkle/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "merkle/lib/murky"]
	path = merkle/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "merkle/lib/foundry-devops"]
	path = merkle/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
